* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Euclid Circular A", "Poppins";
}

@keyframes background-move {
  100% {
    translate: 0 300px;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: calc(100vh + 600px);
  top: -300px;
  background: url("bg.png");
  animation: background-move 4s infinite linear;
}

button,
input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.signup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  max-width: 400px;
  padding: 200px 60px;
  background: #14191c;
}

.signup > h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 10px;
  color: rgb(255 255 255 / 96%);
}

.signup > h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 60px;
  color: rgb(255 255 255 / 40%);
}

.form {
  margin: 0;
  display: grid;
  gap: 16px;
}

.form > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 12px 0 24px;
  border-radius: 6px;
  background: #0291ff;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
}

.signup p {
  margin: 0 0 22px;
  color: #778395;
}

.signup p > a {
  color: #216ce7;
  text-decoration: none;
}

.textbox {
  position: relative;
  margin-bottom: 16px;
}

.textbox > span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  font-size: 22px;
  pointer-events: none;
  color: rgb(255 255 255 / 40%);
}

.textbox input {
  padding: 0 24px 0 36px;
  border-bottom: 2px solid rgb(255 255 255 / 40%);
  color: rgb(255 255 255 / 96%);
  height: 72px;
}

:is(input:focus, input:valid) ~ label {
  translate: -40px -40px;
  scale: 0.875;
}

input:focus ~ label {
  color: #0291ff;
}

:is(input:valid, input:focus) {
  border-color: #0291ff;
}

:is(input:focus, input:valid) ~ span {
  color: rgb(255 255 255 / 96%);
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 36px;
  translate: 0 -50%;
  color: rgb(255 255 255 / 40%);
  pointer-events: none;
  transition: 0.4s;
}

.password {
  margin-bottom: 20px;
}

.password input {
  padding-right: 50px;
}

.password button {
  position: absolute;
  top: 50%;
  right: 0;
  display: grid;
  place-items: center;
  padding: 0;
  height: 36px;
  width: 36px;
  translate: 0 -50%;
  cursor: pointer;
}

.password button span {
  color: rgb(255 255 255 / 40%);
  transition: 0.3s;
}

.password button:hover span {
  color: rgb(255 255 255 / 96%);
}
